
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CL:wght@100..400&display=swap');

* {
margin: 0; 
padding: 0;
} 
nav ul {
    display:flex ;
    flex-direction:row ;
    gap:30px ; 
    align-items: center ; 
    justify-content : center ;
    margin-top : 30 px ;
}

nav ul li {
  font-weight: 400 ;
 font-size:26px;
 list-style: none;
}
nav ul :hover {
    cursor: pointer; 
    transition: 0.3s; 
    color: rgb(10, 182, 239);  
}
#intro {
padding: 50px;
margin-top: 50px;
background-color: orangered;
height: 80vh;
}
#intro h1 {
    font-size: 50px;
    margin-top:30px ;
    color:orangered; 
    width: 80px;
}
#home {
    display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
#home h2 {
    display: flex;
            flex-direction: column;
            gap: 60px;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 100px;
}
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 

 
            
    }
        





